<h1>This is your Dashboard</h1>

<a class="btn btn-dark" asp-controller="Articles" asp-action="Create">
    <i class="fa fa-plus"></i>
    Create new article
</a>

<a class="btn btn-dark" asp-controller="Articles" asp-action="My">
    See my articles
</a>