<h1 class="display-4">Dashboard</h1>

<a class="btn btn-dark" asp-controller="Articles" asp-action="Create">
    <i class="fa fa-plus"></i>
    Create new article
</a>

<a class="btn btn-dark" asp-controller="Articles" asp-action="My">
    <i class="fa fa-book"></i>
    View my articles
</a>