html {
    position: relative;
    min-height: 100%;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    margin-bottom: 60px;
    background-color: #EEEEEE;
    color: #3C403D;
}

.nav-bar {
    position: fixed;
    background-color: #FCF6F6;
    padding: 1.25rem 0rem 1.25rem 0rem;
    top: 0%;
    left: 0%;
    width: 100%;
}

.article {
    margin: auto;
    width: 65%;
    padding: 3rem;
    font-size: 1.01rem;
    box-shadow: 1px 2px 4px 2px #C1C1C1;
    background-color: #FCF6F6;
    border-radius: 5px;
    margin-top: 5rem;
}

.article-title {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.article-content {
    font-style: italic;
    line-height: 1.5;
    padding-bottom: 2rem;
}

.article-img {
    width: 80%;
    padding: 2rem 0rem 1.5rem 0rem;
}

.article-author,
.article-date {
    font-style: italic;
}

.article-paragraph-heading {
    font-size: 1.15rem;
}

.article-stats {
    padding-bottom: 1.25rem;
}

.article-stats>span {
    font-size: 1.15rem;
    font-style: normal;
    padding-right: 1.5rem;
}

.article-stats>span:hover {
    cursor: pointer;
    color: #BD0000;
}

.comment-profile-pic {
    width: 10%;
    display: inline;
    text-align: left;
    border-radius: 5%;
}

.comments-show-more-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-comment {
    padding: 1.05rem;
    margin: 1.15rem 0rem 1.15rem 0rem;
    border-radius: 1%;
}