@using BlogTube.Data
@using System.Collections.Generic;
@model List<Category>

<h5 class="font-weight-normal h3">Create new article</h5>

<form method="post" asp-action="Create" id="create-article-form">
    <div>
        <input id="Title" name="Title" class="form-control my-4" placeholder="Enter title" />
    </div>
    <div>
        <textarea rows="5" cols="30" id="Body" name="Body" form="create-article-form" placeholder="Enter your article body" class="form-control"></textarea>
    </div>
    <div class="mt-3">
        <label for="CategoryId">Choose a category</label>
        <select class="custom-select alert-secondary" name="CategoryId" id="CategoryId" form="create-article-form">
            @foreach (Category category in Model)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>
    <div>
        <input id="Keywords" name="Keywords" class="form-control my-3" placeholder="Type in keywords" />
    </div>
    <hr />
    <input type="submit" class="btn btn-dark" value="Publish" />
</form>