@using BlogTube.Models.Input
@model CreateArticleInputModel
@{ 
    var categories = Model.Categories.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<h5 class="font-weight-normal h3">Create new article</h5>

<form method="post" asp-action="Create">
    <div>
        <input asp-for="Title" class="form-control" placeholder="Enter title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div>
        <textarea asp-for="Body" rows="10" class="form-control" placeholder="Enter your article body"></textarea>
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" asp-items="categories" class="form-control custom-select alert-secondary"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <hr />
    <input type="submit" class="btn btn-dark" value="Publish" />
</form>

<style>
    form > div {
        padding-top: 1.25rem;
    }
</style>
