@using System.Collections.Generic
@using BlogTube.Data
@model List<Article>

<h1 class="display-4">My articles</h1>

@foreach (Article article in Model)
{
    <div class="shadow-none">
        <p class="lead">@article.Title</p>
        <span class="alert-success">published on @article.PublishedOn</span>
    </div>
}